<mat-toolbar color="primary">

    <!-- Logo e Nome do site à direita -->
    <span class="logo">Logo</span>

    <!-- Ícones e input de busca no centro -->
    <div class="center-menu">
        <!-- PC -->
        <mat-icon [ngClass]="{'hidden': searchFocused}" aria-hidden="false" aria-label="Computer icon">computer</mat-icon>
        <span [ngClass]="{'hidden': searchFocused}">PC</span>

        <mat-icon [ngClass]="{'hidden': searchFocused}" aria-hidden="false" aria-label="Gamepad icon">videogame_asset</mat-icon>
        <span [ngClass]="{'hidden': searchFocused}">Consoles</span>


        <div class="search-bar" [class.focused]="searchFocused">
            <mat-icon>search</mat-icon>
            <input placeholder="Buscar" (focus)="searchFocused=true" (blur)="searchFocused=false">
        </div>


    </div>

    <!-- Entrar e Carrinho à esquerda -->
    <div class="left-menu">
        <button mat-button>
            <mat-icon aria-hidden="false" aria-label="Person icon">person</mat-icon>
            Entrar
        </button>
        <button mat-button>
            <mat-icon aria-hidden="false" aria-label="Shopping cart icon">shopping_cart</mat-icon>
        </button>
    </div>
</mat-toolbar>
