mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 1.5em;
}

.center-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    justify-content: center;
    overflow: hidden;
}

.search-bar {
    align-items: center;
    width: 100px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    padding: 0 10px;
    gap: 10px;
    transition: width 0.3s;
}

/* Ajustando a propriedade width diretamente */
.search-bar.focused {
    width: 40%;
}

.search-bar input {
    border: none;
    background-color: transparent;
    border-radius: 18px;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    width: 100%;
}

.left-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

input:focus {
    outline: none;
}

mat-icon {
    vertical-align: middle;
}

.hidden {
    display: none;
}
