<div class="grid-container">
    <mat-card class="outer-card">
        <div class="card-content-wrapper">
            <div class="left-section active" (click)="activateLeftSection()" [class.active]="activeSection === 'left'">

                <mat-card-content>
                    <mat-card *ngFor="let fabricante of fabricantes" class="fabricante-card">
                        <mat-card-content>
                            <div class="fabricante-info" [class.right-section-active]="activeSection === 'right'">
                                <span>{{ fabricante.nome }}</span>
                                <div class="fabricante-actions">
                                    <button mat-icon-button (click)="onEdit($event, fabricante.id)" [class.hidden]="activeSection === 'right'">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="onDelete(fabricante.id)" [class.hidden]="activeSection === 'right'">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-paginator [class.hidden]="activeSection === 'right'" [length]="totalFabricantes"
                                   [pageSize]="pageSize" [pageSizeOptions]="[3, 6, 12, 24]"></mat-paginator>
                </mat-card-content>
            </div>

            <div class="divider-line"></div>

            <form [formGroup]="form" (ngSubmit)="saveFabricante()" class="right-section" (click)="activateRightSection()" [class.active]="activeSection === 'right'">
                <div class="title-container">
                    <h2 *ngIf="!editingFabricante">Adicionar Fabricante</h2>
                    <h2 *ngIf="editingFabricante">Editar Fabricante</h2>
                </div>
                <mat-form-field class="fabricante-field" appearance="fill">
                    <mat-label>Nome do Fabricante</mat-label>
                    <input matInput formControlName="nome" placeholder="Nome*">
                </mat-form-field>
                <div class="button-container" >
                    <button  mat-raised-button type="button" (click)="openConfirmDialog()" [disabled]="form.invalid">
                        <mat-icon>save</mat-icon>
                        <span >{{ editingFabricante ? 'Salvar' : 'Adicionar' }}</span>
                    </button>
                    <button mat-raised-button color="warn" type="button" (click)="onDeleteForm()"
                            *ngIf="editingFabricante">
                        <mat-icon>delete</mat-icon>
                        <span>Deletar</span>
                    </button>
                    <button  mat-raised-button type="button" (click)="onClearForm()">
                        <mat-icon>refresh</mat-icon>
                        <span>Cancelar</span>
                    </button>
                </div>
            </form>
        </div>
    </mat-card>
</div>
