.fabricante-info span,
.fabricante-actions mat-icon,
.left-section h2,
.right-section h2 {
    color: #ffffff;
}
.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    height: 100%;
}

.outer-card {
    background-color: rgba(35, 100, 42, 0.3);
    margin: 20px;
    padding: 20px;
    width: 80%;
}

.card-content-wrapper {
    display: flex;
    align-items: start;
    height: 100%;
}

.left-section {
    flex: 1.0;
    padding-right: 20px;
    max-height: 600px;
    overflow-y: auto;
    border-right: 2px solid #DAA520;
    transition: flex 0.3s ease-in-out;
}

.left-section.active {
    flex: 2.7;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap: 15px;
    transition: flex 0.3s ease-in-out;
}

.right-section.active {
    flex: 2.7;
}


.title-container {
    width: 100%;
    text-align: center;
    margin-top: 0;
    padding-top: 15px;
}

.left-section h2,
.right-section h2 {
    margin: 0;
    padding: 0;
}

.fabricante-card {
    background-color: rgba(27, 27, 27, 0.7);
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.fabricante-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fabricante-info.right-section-active {
    justify-content: center;
}

.fabricante-actions {
    display: flex;
    gap: 5px;
}

.fabricante-input {
    width: 80%;
}

.add-button {
    color: #ffffff;
    background-color: #4a4a4a;
}

mat-form-field.fabricante-field {
    width: 90%;
}

.right-section button.mat-raised-button {
    align-self: center;
    transition: align-self 0.3s ease-in-out;
}

.right-section.active button.mat-raised-button {
    align-self: flex-end;
}
.hidden {
    display: none;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}