<mat-toolbar>
    <img src="assets/logo.png" alt="Logo" class="logo-img">

    <div class="center-menu">

        <div class="search-icons">
            <button mat-button routerLink="/cidades">
                <mat-icon [@fadeInOut]="getFadeState()" aria-hidden="false" aria-label="City icon">location_city</mat-icon>
                <span [@fadeInOut]="getFadeState()">Cidades</span>
            </button>
            <button mat-button routerLink="/plataformas">
                <mat-icon [@fadeInOut]="getFadeState()" aria-hidden="false" aria-label="Platform icon">videogame_asset</mat-icon>
                <span [@fadeInOut]="getFadeState()">Plataformas</span>
            </button>
            <button mat-button routerLink="/fabricantes">
                <mat-icon [@fadeInOut]="getFadeState()" aria-hidden="false" aria-label="Manufacturer icon">business</mat-icon>
                <span [@fadeInOut]="getFadeState()">Fabricantes</span>
            </button>
        </div>

        <div class="search-bar" [@expandCollapse]="isSearchBarFocused() ? 'expanded' : 'collapsed'">
            <input matInput [(ngModel)]="searchText" (input)="onSearchChange()"  placeholder="Buscar..." (focus)="searchFocused=true" (blur)="searchFocused=false" (keyup.enter)="onSearch()">
            <mat-icon>search</mat-icon>
        </div>

    </div>

    <div class="left-menu">
        <button mat-button>
            <mat-icon aria-hidden="false" aria-label="Person icon">person</mat-icon>
            Entrar
        </button>
        <button mat-button>
            <mat-icon aria-hidden="false" aria-label="Shopping cart icon">shopping_cart</mat-icon>
        </button>
    </div>
</mat-toolbar>
