html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.full-height-wrapper {
    background-color: #1a1a1a;
    background-image: url('/assets/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 94%;
    display: flex;
    flex-direction: column;
}


